%ul.nav.nav-tabs
  %li.active
    %a{:href => "#"} Most Popular
  %li
    %a{:href => "#"} Least Popular
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Dropdown
      %b.caret
    %ul.dropdown-menu
      
  %li.new_activity
    %a{:href => "#"} New Activity
